<!DOCTYPE html>
<html>
    <head>
        <title>Joyzアンケート</title>
    </head>
    <body>
    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <h1><a href="">アンケート</a></h1>
            </div>
            {% for post in posts %}
                <div>
                    <p>Q.{{ post.id }}, {{ post.text }}</p>
                </div>
                <div>
                    <input type="radio" name={{ post.id }} value="1">満足
                    <input type="radio" name={{ post.id }} value="2">やや満足
                    <input type="radio" name={{ post.id }} value="3">どちらとも言えない
                    <input type="radio" name={{ post.id }} value="4">やや不満
                    <input type="radio" name={{ post.id }} value="5">不満
                </div>
                <br>
            {% endfor %}
            <input type="submit" value="提出">
        </form>
    </body>
</html>