<!DOCTYPE html>
<html>
    <head>
        <title>Joyzアンケート</title>
    </head>
    <body>
    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <h1><a href="">アンケート</a></h1>
            </div>
            {% for post in posts %}
                <div>
                    <p>Q.{{ forloop.counter }} {{ post.text }}</p>
                </div>
                <div>
                    <input type="radio" name={{ post.text }} value="ans1"> {{post.ans1}}
                    <input type="radio" name={{ post.text }} value="ans2"> {{post.ans2}}
                    <input type="radio" name={{ post.text }} value="ans3"> {{post.ans3}}
                    <input type="radio" name={{ post.text }} value="ans4"> {{post.ans4}}
                    <input type="radio" name={{ post.text }} value="ans5"> {{post.ans5}}
                </div>
                <br>
            {% endfor %}
            <input type="submit" value="提出">
        </form>
    </body>
</html>